* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(204, 204, 204);
}
.parent {
  padding: 5vmax 7vmax;
  height: 100vh;
  width: 100vw;
}
.golden {
  color: gold;
}
.left {
  height: 100%;
  width: 40%;
  background-color: green;
}
.right {
  height: 100%;
  width: 60%;
  background-color: black;
}
