/* horizontal headings */
h1 {
  font-weight: 600;
  font-size: 3.5em;
  background-color: green;
  height: fit-content;
  white-space: nowrap;
  background-color: red;
}

/* vertical headings */
.vertical {
  transform-origin: bottom left;
  transform: rotate(90deg);
}
